<body class="profile">
  <div class="hero">
    <nav class="nav-2">
    <%= image_tag "T_logo-fullwhite.png", :class => "logo-t" %>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <%= image_tag "https://mdbootstrap.com/img/new/avatars/4.jpg", :class => "user_img" %>

      <div class="sub-menu-wrap">
        <div class="sub-menu">
          <div class="user-info">
            <%= image_tag "https://mdbootstrap.com/img/new/avatars/4.jpg", :class => "user1_img" %>
            <h4>Chhomtythya Norong</h4>
          </div>
           <hr>
            <a href="#" class="sub-menu-link">
            <span class="material-symbols-outlined">account_box</span>
            <p>Edit profile</p><span>></span>
            </a>

        </div>
      </div>
    </nav>
  </div>
</body>
